<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Repository.AssemblyCatalog" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Repository.TypeCatalog" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Settings.ViewModel" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>


  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="MyApp" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" traceOutputOptions="ProcessId, LogicalOperationStack, Timestamp, ThreadId, Callstack, DateTime"/>
      </listeners>
    </trace>
  </system.diagnostics>  
  
  <Repository.AssemblyCatalog>
    <add key="uEN" value=""/>
    <add key="SimpleApp" value=""/>
  </Repository.AssemblyCatalog>
  <Repository.TypeCatalog>
  </Repository.TypeCatalog>
  
  <Settings.ViewModel>
    <add key="uEN.UI.Controls.FontFamilyViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.FontSizeViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.BrandColorViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.ThemeColorViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.AdvancedOptionViewModel,uEN" value=""/>
  </Settings.ViewModel>

  <appSettings>
    <add key="CompanyName" value="Corporate Identity"/>
    <add key="CompanyDescription" value="description"/>
    <add key="LicensesDirectory" value="Licenses"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>


</configuration>
