<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Repository.AssemblyCatalog" type="System.Configuration.NameValueSectionHandler" />
    <section name="Repository.TypeCatalog" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Repository.AssemblyCatalog>
    <add key="uEN" value="" />
    <add key="SimpleApp" value="" />
  </Repository.AssemblyCatalog>
  <Repository.TypeCatalog>
  </Repository.TypeCatalog>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
